<!--The content below is only a placeholder and can be replaced.-->

<div class="meuContainer" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>Escolha uma opção: </h2>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <h2><a routerLink="/lista-lotacao">Lista lotacao</a></h2>
    </div>
    <div class="col col-lg-2">
      <h2><a routerLink="/lista-onibus">Lista onibus</a></h2>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

