.lista-sem-bullets {
    list-style-type: none;
}

.paddingTop {
    padding-top: 15px
}

.titulo-itinerario {
    background-color: #8181F7;
    border-radius: 10px;
}

.ponto{
    border-radius: 10px;
}

.ponto:hover {
    background-color:  #CED8F6;
}