
<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="paddingTop list-group list-group-flush">
      <div class="titulo-itinerario list-group-item list-group-item-action active">
        <h3>{{nomeDoItinerario}}</h3>
        <h4>Código: {{codigo}}</h4>
      </div>
  
      <div *ngFor="let parada of itinerario">
        <a class="ponto list-group-item list-group-item-action" target="_blank" href="https://www.google.com/maps/?q={{parada[0]}},{{parada[1]}}">
          Ponto: {{parada[2]}}
        </a>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>