<h4>
  Lotações
</h4>

<input type="text"
  class="input"
  name="search" [(ngModel)]="searchText" >

<div class="list-group">
  <a class="ast-group-item list-group-item-action" *ngFor="let lista of listaLotacao | filtroGenerico : searchText "
    routerLink="/itinerario/{{lista.id}}">
    <h3>{{ lista.nome }}</h3>
    <h4>id: {{ lista.id }}</h4>
    <h4>codigo: {{ lista.codigo }}</h4>
  </a>
</div>
